# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [10]:
nums=[1,2,3,4]

In [12]:
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [16]:
nums.remove(3)
nums

[1, 2, 4]

In [14]:
# Method 2

[1, 2, 4]

In [16]:
# Method 3

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [6]:
lst=[2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [7]:
lst.insert(2,"two-and-half")

In [8]:
print(lst)

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [36]:
phrase= "Don't panic!"
list1=list(phrase)

In [39]:
list1

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [55]:
phrase= "Don't panic!"
a=list(phrase)
a.remove("!")
a
a.remove("'")
a

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [56]:
a.remove("p")
a
a.remove("a")
a
a.remove("n")
a
a.remove("D")
a
a.extend("p")
a
a.extend("a")
a
a.extend("n")
a
a.extend("D")
a

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [59]:
list1=['p','a','n','D']

In [60]:
"".join(list1)

'panD'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [31]:
tple=(31,24,35,85)

In [32]:
type(tple)

tuple

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [1]:
t=(31,35,24,85)
y=list(t)

In [2]:
y

[31, 35, 24, 85]

In [2]:
y.remove(35)

In [3]:
y

[31, 24, 85]

In [5]:
y.extend([85,19])
y

[31, 24, 85, 85, 19]

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [8]:
tpl=("i","n",'n',"o")
"i" in tpl

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [6]:
list3=['Hello',100,[],'innomatics']

In [7]:
list3[2].append(200)

In [8]:
list3

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [63]:
# CODE HERE
tpl = ("Innomatics")

In [65]:
l=list(tpl)

In [66]:
l

['I', 'n', 'n', 'o', 'm', 'a', 't', 'i', 'c', 's']

In [70]:
tpl=tuple(l[::-1])

In [71]:
tpl

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [34]:
tuple(tpl[::-1])

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [5]:
tpl=

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [1]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
type(tpl)

list

In [12]:
f=[]
for l in tpl:
    l1=list(l)
    l1.insert(3, 100)
    f.append(l1)

In [11]:
f

[[10, 20, 40, 100], [40, 50, 60, 100], [70, 80, 90, 100]]

In [22]:
type(f)

list

In [23]:
tuple(f)

([10, 20, 40, 100], [40, 50, 60, 100], [70, 80, 90, 100])

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [40]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [41]:
type(tpl)

list

In [42]:
l2=[]
for i in tpl:
    l1=list(i)
    l1[2]=100
    l2.append(tuple(l1))

In [43]:
l2

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [72]:
x='5 2 3 6 6 5'

In [15]:
x=(input("type the numers: "))
print(y)
high=max(x[0],x[1])
second_high=min(x[0],x[1])
for y in range (len(x)):
    if x[y]>high:
        second_highest=high
        high=x[y]
    elif x[y]>second_high and high!=x[y]:
        second_high=x[y]
    elif high==second_high and second_high!=x[y]:
        second_high=x[y]
print("second highest is:",str(second_high))

type the numers: 5 2 3 6 6 5
10
second highest is: 5

5 2 4 6 2 2
second higest is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [3]:
# CODE HERE

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [1]:
"list is a collection data type.It is mutable.It can replace,add and delete.It  can store same or different data type.Inside list each data is called element.Inside a list each element has index value.Tuple is exactly as list.There is only difference between list and tuple are immutable.In list we use[] or list[a1,a2] and in tuple () or tuple(a1,a2)"

'list is a collection data type.It is mutable.It can replace,add and delete.It  can store same or different data type.Inside list each data is called element.Inside a list each element has index value.Tuple is exactly as list.There is only difference between list and tuple are immutable.In list we use[] or list[a1,a2] and in tuple () or tuple(a1,a2)'

### 2. Explain the difference between append() and extend() with examples

In [4]:
"Append is used to insert value without replacement.It will add new element at least.""extend will pass the seqential data.We can insert new element by without replacement at single time."

'Append is used to insert value without replacement.It will add new element at least.extend will pass the seqential data.We can insert new element by without replacement at single time.'

### 3. Explain the difference between pop() and remove() with examples

In [3]:
"pop() method is a list method by using which we can remove element.In remove method we are specifying the element but in pop method we should not specify the index value and remove() is a list method by using which we can remove the element.Whenever we are using remove method it will remove at the first occurance it goes from left to right"

'pop() method is a list method by using which we can remove element.In remove method we are specifying the element but in pop method we should not specify the index value and remove() is a list method by using which we can remove the element.Whenever we are using remove method it will remove at the first occurance it goes from left to right'

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)