# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [5]:
person1={"name":"John","gender":"male","occupation":"Data scientist","location":"Nizampet,hyderabad"}
person1

{'name': 'John',
 'gender': 'male',
 'occupation': 'Data scientist',
 'location': 'Nizampet,hyderabad'}

In [4]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [4]:
person1=['Name','gender','occuption','location']
person1

['Name', 'gender', 'occuption', 'location']

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [2]:
person1={"name":"Srikanth", "age":27,"gender":"male","occupation":"Data scientist", 'Location':"Nizampet,hyderabad"}
person1

{'name': 'Srikanth',
 'age': 27,
 'gender': 'male',
 'occupation': 'Data scientist',
 'Location': 'Nizampet,hyderabad'}

In [4]:
del person1["Location"]

In [5]:
person1

{'name': 'Srikanth',
 'age': 27,
 'gender': 'male',
 'occupation': 'Data scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [6]:
person2={"name":"Raghu Ram","gender":"male","age":25,"occupation":"Data scientist",}

In [7]:
person2

{'name': 'Raghu Ram',
 'gender': 'male',
 'age': 25,
 'occupation': 'Data scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [22]:
d={"Gender":'male','Location':'Nizampet,Hyderab'}
print("==================== person1 ====================",'\n',d, '\n',"==================== person2 ====================",'\n',d)

==================== person1 ====================
 {'Gender': 'male', 'Location': 'Nizampet,Hyderab'}
 ==================== person2 ====================
 {'Gender': 'male', 'Location': 'Nizampet,Hyderab'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [29]:
x={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [30]:
x.pop(1)

1

In [36]:
x

{2: 4, 4: 16, 5: 25, 6: 36, 7: 49}

In [40]:
del x[2]

In [41]:
x

{4: 16, 5: 25, 6: 36, 7: 49}

In [42]:
x.clear()

In [43]:
x

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [44]:
x={0:0,1:1,3:9,5:25,7:49,9:81}

In [45]:
y=x.values()

In [46]:
y

dict_values([0, 1, 9, 25, 49, 81])

dict_values([0, 1, 9, 25, 49, 81])

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [82]:
dict1 = { 'a': 1, 'b': 2 }

In [83]:
 dict2 = { 'b': 3, 'c': 4 }

In [84]:
dict3 = { 'c': 5, 'd': 6 }

In [127]:
print(dict(set(dict1.items()).union(set(dict2.items())).union(set(dict3.items()))))

{'a': 1, 'b': 2, 'c': 4, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [74]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [79]:
sample_dict['emp3']['salary']=8500

In [80]:
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

In [72]:
t

['Charan', (8500,)]

In [60]:
emp3

{'name': 'Charan', 'salary': 6500}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [128]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [131]:
type(sampleDict)

dict

In [142]:
sampleDict["class"]["student"]["marks"]["history"]

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [148]:
x={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [150]:
x['Area']=x["Location"]
del x["Location"]
print(x)

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'Area': 'Nizampet, Hyderabad'}

In [102]:
x

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'location': 'Area'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [164]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
username=input("type the username: ")
if username in database.keys():
    password=int(input("type the password: "))
    
    if password not in database.values():
        database[username]=password
        print("password is uploaded")
    else:
        print("hello ",username)
else:
    ask=input("type 'y' to add this user in databse")
    password=int(input("type the password: "))
    if ask=="y":
        database.update({username:password})

type the username: sree
you wanted to add y/ny
type the password: 444

In [165]:
database

{'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'sree': 444}