# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [2]:
print(" My name is Sreelatha")

 My name is Sreelatha

In [3]:
# CODE HERE

My name is Innomatics

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [1]:
print("In simple word varible is container where we store the data. Actually variable is temprorary name given to the memory location.variable name should start with alphabets it should not start with numbers or special characters.variable names should be mixture of numbers and alphabets")

In simple word varible is container where we store the data. Actually variable is temprorary name given to the memory location.variable name should start with alphabets it should not start with numbers or special characters.variable names should be mixture of numbers and alphabets

In [ ]:
# Code Here

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [23]:
# CODE HERE
width=17
height=12.0
delimiter='.'
print("1. width/2 = ",width/2)
print("2.width/2.0=",width/2.0)
print("3.height/3=", height/3)
print("4.",1+2*5)
print('5. ',"."*5)

1. width/2 =  8.5
2.width/2.0= 8.5
3.height/3= 4.0
4. 11
5.  .....

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [28]:
first_number=100
second_number=200

In [31]:
print("first number is :",100)
print("second number is :",200)
print("addition of first number and second number are :",first_number+second_number)

first number is : 100
second number is : 200
addition of first number and second number are : 300

> `Question:` Add your first name and second name

In [33]:
My_first_name_is="Sachin"
My_second_name_is="Tendulkar"

In [37]:
print("My first name is :",My_first_name_is)
print("My second name is :",My_second_name_is)
print("My full name is :{} {}".format(My_first_name_is,My_second_name_is))

My first name is : Sachin
My second name is : Tendulkar
My full name is :Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [16]:
x=input("type the num1: ")

type the num1: 10

In [24]:
print("10-",type(x))

10- <class 'str'>

In [13]:
y=10

In [20]:
print("10 -",type(10))

10 - <class 'int'>

In [26]:
True

True

In [30]:
print("True-",(type(True)))

True- <class 'bool'>

In [18]:
10.5

10.5

In [31]:
print("10.5-",(type(10.5)))

10.5- <class 'float'>

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [5]:
num_int=123

In [3]:
num_str="456"

In [28]:
type(num_int)

int

In [10]:
type(num_str)

str

In [12]:
num_str2=int(num_str)

In [13]:
type(num_str2)

int

In [14]:
"{}+{}={}".format(num_int,num_str2,num_int+num_str2)

'123+456=579'

Addition of 123 and 456 is :  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [32]:
pi=3.14
r=5

In [34]:
 volume=4/3/pi*r**3

In [35]:
volume

53.07855626326963

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [50]:
price_of_one_book=24.95
discount=(24.94*40)/100

In [52]:
actual_cost_of_1_book= price_of_one_book-discount

In [53]:
actual_cost_of_1_book

14.973999999999998

In [57]:
cost_of_1st_copy = 3+actual_cost_of_1_book

In [58]:
cost_of_1st_copy

17.973999999999997

In [56]:
cost_of_remaining=(0.75+actual_cost_of_1_book)*59

In [59]:
total_cost_of_60_copies=cost_of_remaining+cost_of_1st_copy

In [60]:
total_cost_of_60_copies

945.6899999999999

In [43]:
price_of_remaining=0.75+14.97

In [45]:
price_of_remaining

15.72

In [48]:
remaing=price_of_remaining*59

In [49]:
remaing

927.48

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)